<div class="container">

  <table class="table table-striped table-bordered">
    <tr>
      <th>Name</th>
      <th>First Name</th>
      <th>Email</th>
    </tr>

    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.first_name__c %></td>
        <td><%= contact.email__c %></td>
      </tr>
    <% end %>
  </table>

</div>
